Jinja2==2.8
MarkupSafe==0.23
Pygments==2.0.2
click==5.1
configobj==5.0.6
decorator==4.0.4
ipykernel==4.0.3
ipython==4.0.0
ipython-genutils==0.1.0
jsonschema==2.5.1
jupyter-client==4.0.0
jupyter-core==4.0.6
mistune==0.7.1
nbconvert==4.0.0
nbformat==4.0.0
notebook==4.0.5
path.py==8.1.1
pexpect==3.3
pgcli==0.19.2
pickleshare==0.5
prompt-toolkit==0.46
psycopg2==2.6.1
ptyprocess==0.5
pymongo==3.0.3
pyzmq==14.7.0
simplegeneric==0.8.1
six==1.9.0
sqlparse==0.1.16
terminado==0.5
tornado==4.2.1
traitlets==4.0.0
wcwidth==0.1.5
